/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.logo h1 a{
    
    font-size: 20px;
    /*background:url(../img/logo.png) no-repeat;*/
    /*background-size:163px 36px;*/
    text-indent:-9999px;
    overflow: hidden;
    color: #212121;
}